<a href="./todos/new">Create</a>

{{#each todos}}
  <ul>
    <li>
      <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled>
      {{this.name}}
      {{!-- _id 是資料庫會自動新增的 id --}}
      <a href="./todos/{{this._id}}">Detail</a>
      <a href="./todos/{{this._id}}/edit">Edit</a>
      <form action="./todos/{{this._id}}/delete" method="POST" style="display:inline">
        <button type="submit">Delete</button>
      </form>
    </li>
    
  </ul>
{{/each}}