<a href="./todos/new">Create</a>

{{#each todos}}
  <ul>
    <li>
      {{this.name}}
      {{!-- _id 是資料庫會自動新增的 id --}}
      <a href="./todos/{{this._id}}">Detail</a>
    </li>
    
  </ul>
{{/each}}